# Basic part -I w3resource 

https://www.w3resource.com/python-exercises/

In [5]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [7]:
# p - 2
import datetime
now = datetime.datetime.now()
print(now.strftime("%Y-%m-%d %H:%M:%S"))

2022-03-15 04:23:08

In [9]:
# prob - 4

from math import pi

r = float(input("Input radius"))

print("The area of the circule with radius "+str(r)+" is: "+str(pi*r**2))

Input radius4
The area of the circule with radius 4.0 is: 50.26548245743669

In [10]:
# prob - 5
values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Input some comma seprated numbers : 2, 3, 4, 5
List :  ['2', ' 3', ' 4', ' 5']
Tuple :  ('2', ' 3', ' 4', ' 5')

In [13]:
values = input("Input some text")
list = values.split(",")
#tuple = tuple(list)

print("List : ", list)
#print("Tuple : ", tuple)

Input some textMilon, 1, 2,3
List :  ['Milon', ' 1', ' 2', '3 ']

In [14]:
list.append(4)

In [15]:
list

['Milon', ' 1', ' 2', '3 ', 4]

In [21]:
# prob 7

filename = input("input the filename")

f_ext = filename.split(".")

print("The extension of file is "+ repr(f_ext[-1]))

input the filenameja.java
The extension of file is 'java'

In [24]:
color =["red", "green", "white", "black"]

print("%s %s" %(color[0], color[-2]))

red white

In [33]:
# prob 10

a = int(input("Input an Integer : "))
n1 = int("%s"%a)

n2 = int("%s%s"%(a,a))

n3 = int("%s%s%s"%(a,a,a))

print(n1+n2+n3)

Input an Integer : 4
492

In [42]:
# prob 12

import calendar
y=int(input("Input year : "))
m = int(input("input month : "))

print(calendar.month(y,m))

Input year : 1200
input month : 2
   February 1200
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29

In [3]:
# prob 13

print("""milons sheikh""")

milons sheikh

In [4]:
# prob 14

from datetime import date
f_date = date(2014, 7, 2)
l_date = date(2014, 7, 11)
delta = l_date - f_date
print(delta.days)

9

In [7]:
from datetime import date
f_date = date(2014, 7, 25)
l_date = date(2014, 8, 25)

delta = f_date - l_date

print(delta.days)

-31